.admin {
  padding: 2vh 0;
}
.admin h1,
.statistique h1 {
  text-align: center;
  padding: 4vh 0;
}
.liste-admin,
.statistique-contenu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  padding: 4vh;
  background-color: var(--gray);
  margin-bottom: 6vh;
}
.admin-entete,
.statistique-contenu>div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-around;
  align-items: center;
  padding: 4vh 0;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 0px 3px #fff;
}
.statistique-contenu>div {
  justify-content: flex-start;
  gap: 20px;
}
.success {
  text-align: center;
  display: none;
}
.statistique-contenu {
  display: flex;
  flex-direction: column;
}
.statistique-contenu>div {
  text-align: center;
  padding: 2vh;
}
@media (min-width: 768px) {
  .statistique-contenu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
.statistique-liste {
  padding-left: 1vh;
}
.statistique-liste-2 {
  padding-left: 1vh;
}

.tableUsagers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tableUsagers button {
  font-size: 16px;
  border: 2px solid #7E003F;
  border-radius: 5px;
}

table {
  width: 85%;
  border-collapse: collapse;

}

table th,
table td {
  padding: 8px;
  border: 1px solid #ccc;
}

table th {
  background-color: #f2f2f2;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #ebebeb;
}

h2 {
  text-align: center;
  padding: 10px;
}

.button-supprimer {
  background-color: #cb3441;
  color: #fff;
}

  
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal h3 {
  margin-top: 0;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modal-buttons button {
  margin-left: 10px;
  background-color: #5c2231;
  color: #fff;
}


  button {
    padding: 10px;
    border: none;
    border-radius: 3px;
  }


  .boutonAjouter {
    font-size: clamp(22px, 3vw, 20px);
    border: none;
    border-radius: 3px;
    color: #000;
    background-color: #cb3441;
    margin-top: 10px;
}
  
