/*--------------------------------- Cellier */
.cellier {
	background-color: #f9f9f9;
}
.cellier-header {
	padding: 4vh;
	display: flex;
	flex-direction: column;
	gap: clamp(18px, 2.5vh, 40px);
}
.cellier-titre {
	color: #36383F;
	text-align: center;
	text-transform: uppercase;
}
.cellier-boutons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	padding: 2vh;
}
.cellier-boutons>button {
	font-size: 16px;
}
.cellier-lien:hover {
	background-color: #5c2231;
}
.liste-bouteille {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
	background-color: #36383F;
	padding: 4vh;
}
.filtre {
	display: flex;
	flex-direction: column;
}
select {
	background-color: #f9f9f9;
	cursor: pointer;
	padding: 10px;
	border-radius: 5px;
}
.trierPar {
	font-size: 14px;
	background-color: #f9f9f9;
	color: #000;
}
.recherche-label {
	display: block;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	.modifier form div,
	.ajouter .nouvelleBouteille div,
	.ajouter .nouvelleBouteille>input {
		max-width: 400px;
	}
	.bouteille {
		max-width: 380px;
	}
	.filtre {
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
	}
	.cellier-boutons {
		flex-direction: row;
	}
}