/*-------------------------------------- Modales */
.modal-overlay-inscription, 
.modal-overlay-connexion,
.modal-overlay-ajoutBouteille,
.modal-overlay-modifieBouteille,
.modal-overlay-ajoutBouteilleNonListe {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
} 

/* Style for modal window */
.modal-inscription, 
.modal-connexion,
.modal-ajoutBouteille,
.modal-modifieBouteille {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -42%);
    background-color: var(--white);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    max-width: 100%;
    z-index: 999;
    display: none;
}

@media (min-width: 768px) {
	.modal-inscription, 
    .modal-connexion,
    .modal-ajoutBouteille,
    .modal-modifieBouteille {
		transform: translate(-50%, -50%);
	}
    .modal-overlay-inscription, 
    .modal-overlay-connexion,
    .modal-overlay-ajoutBouteille,
    .modal-overlay-modifieBouteille,
    .modal-overlay-ajoutBouteilleNonListe {
        position: fixed;
    } 
}

/* Style for close button */
.close-btn-inscription, 
.close-btn-connexion,
.close-btn-ajoutBouteille,
.close-btn-modifieBouteille {
    position: absolute;
    top: 2vh;
    right: 2vh;
    font-size: 24px;
    cursor: pointer;
}
input[type="text"], 
input[type="current-password"], 
input[type="email"],
input[type="password"],
input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    width: 100%;
}
.ajouter .nouvelleBouteille .rechercheListeBouteille {
    background-color: #7e003f36;
}

input[type="submit"],
.btn-ajouter {
    background-color: var(--rouge-saq);
    color: var(--white);
    padding: 1em 1.5em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    margin-top: 4vh;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background-color: var(--rouge-violet);
}
.modal-inscription h2, 
.modal-connexion h2,
.modal-ajoutBouteille h2 {
    text-align: center;
    padding: 2vh;
    padding-bottom: 40px;
    text-transform: uppercase;
}
.errors{
    color: red;
    padding: 20px;
    
}
/* Style for AjoutBouteilleNonListe modal window */


.modal-ajoutBouteilleNonListe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    max-width: 100%;
    z-index: 999;
    display: none;
    max-height: 100vh;
    overflow-y: auto;
}

.close-btn-ajoutBouteilleNonListe {
    position: absolute;
    top: 2vh;
    right: 2vh;
    font-size: 24px;
    cursor: pointer;
}