
/*--------------------------------- Variables Couleurs */
:root {
    --white: #f9f9f9;
    --noire: #000;
    --black: #36383F;
    --gray: #85888C;
    --rouge-saq: #7E003F;
    --rouge: #cb3441;
    --rouge-violet: #5c2231;
} 