/*-------------------------------------- ACCUEIL */

/*-------------------------------------- Header-image */
.header-image {
	position: relative;
	display: flex;
	justify-content: start;
	align-items: center;
	min-height: 50vh;
	color: var(--white);
	text-align: center;
}
.header-image img {
	position: absolute;
	object-fit: cover;
}
.header-image>div {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2vh;
	padding: 4vh;
	background: linear-gradient(to right, var(--black), transparent);
	height: 50vh;
	width: 100%;
}
.header-image-accueil,
.header-image-accueil-content {
	min-height: 60vh;
}
.header-image h1 {
	font-size: 60px; 
	text-transform: uppercase;
	margin : 0;
}
.header-image-btn {
	display: flex;
	flex-direction: column;
	gap: 2vw;
	margin-top: 3vw;
}
.header-image h1,
.header-image p,
.header-image-btn {
	z-index: 1;
}

/*-------------------------------------- Presentation */
.presentation {
	display: flex;
	flex-direction: column;
	margin: clamp(2vh, 2vh, 6vh) 0; 
}
.presentation img{
	max-height: 380px;
	max-width: 700px;
}
.presentation article{
	align-items: center;
	justify-content: center;
}
.presentation article h2{
	text-align: center;
	margin: 2vh 0;
	text-transform: uppercase;
}

/*-------------------------------------- Partage */
.partage {
	display: flex;
	flex-direction: column;
	gap: 4vh;
	align-items: center;
	justify-content: center;
	padding: 6vh 0;
	background-color: var(--black);
	color: var(--white);
}
.partage h2 {
	text-transform: uppercase;
}
.partage-icone {
	display: flex;
	gap: 2vh;
}
.partage-icone .fa{
	font-size: 60px;
}
.partage-icone .fa:hover{
	color: #c44886d3;
}

/* Responsive */
@media (min-width: 768px) {
	.header-image-btn {
	  flex-direction: row;
	}
	.header-image>div {
		max-width: 50%;
		height: 60vh;
		gap: 4vh;
	}
	.presentation {
	  flex-direction: row;
	  gap: 2vh;
	}
	.partage {
		flex-direction: row;
	}
	.header-image h1 {
		font-size: 100px;
	}
}