.formModifier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .formModifier div {
    width: 40%;
    margin-bottom: 10px;

  }
  
  .formModifier label {
    display: block;
    text-align: left;
  }
  

  .formModifier select {
 
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  
/* Responsive */
@media (max-width: 768px) {
  .formModifier div {
    width: 300px;
   

  }

}
  
